<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>

        <h1>Edit Party Page</h1>
        <form action="/parties/<%=party.id%>?_method=PUT" method="POST">
          Location of Party: <input type="text" name="locOfParty" />
          Date of Party: <input type="datetime-local" name="dateOfParty" />
          people partcipating:   <% for(let i = 0; i < party.guestList.length; i++){ %>
        <li>
          Guest: <input type="text" value="<%= party.guestList[i].name%> " />
          Guest Email: <input type="text" value="<%= party.guestList[i].email%>"/>
        </li>
             <% } %>

            <input type="submit" name="" value="Submit Changes"/>
        </form>

<%- include('../partials/footer.ejs') %>





 :
