<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>

        <h1>Party show page</h1>
       <%=party.partyIsFor; %>'s' party is <%=party.dateOfParty; %>.

        <nav>
            <a href="/parties"><button type="button" name="button">Back to Parties Index</button></a>
            <form action="/parties/<%=party.id; %>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE"/>
            </form>
            <a href="/parties/<%=party.id; %>/edit"><button type="button" name="button">Edit</button></a>
        </nav>

<%- include('../partials/footer.ejs') %>
